.roaster-winner table {
    text-align: center;
    display: inline-block;
    margin: auto;
    border: none;
}

.roaster-winner table tr {
    background-color: white;
    border: none;
    color: black;
}

.roaster-winner table td {
    padding: 5px 15px;
}

.roaster-winner table tr:first-child {
    font-size: 1.1em;
    font-weight: bold;
    background-color: #fff49a;
}
