tr td:first-child {
    font-weight: bolder;
}

tr:first-child td:first-child {
    font-size: 1.25em;
    font-weight: 800;
}

table {
    text-align: center;
    display: inline-block;
    border: 1px solid #999;
    margin: 10px 2% 10px 2%;
    border-collapse: collapse;
}

table tr:nth-child(1){
    background-color: #477186;
    color: white;
    border: 1px solid #888;
}

table tr:nth-child(even){
    background-color: #dddddd;
    border: 1px solid #999;
}