/* Styles clickable html buttons */
/* Currently used on individual and roaster results buttons on results page */

/* Add size, display style, spacing, color, and rounded edges */
button {
    height: 30px;
    width: 150px;
    display: inline-block;
    font-size: 1em;
    margin: 25px auto 10px;
    background-color: #ffb16e;
    border: solid 1px #FF7F00;
    border-radius: 5px;
}

/* Remove border when selected */
button:focus{
    outline: none;
}