/* Styles clickable html buttons */
/* Currently used on individual and roaster results buttons on results page */

/* Add size, display style, spacing, color, and rounded edges */
button {
    display: inline-block;
    margin: 25px auto 10px;
    font-size: 1em;
    white-space: nowrap;
    background-color: #ffb16e;
    border: solid 1px #FF7F00;
    border-radius: 5px;
}

/* Remove border when selected */
button:focus{
    outline: none;
}

/* Remove border when selected */
button:hover{
    background-color: #ff9560;
    border: solid 2px #FF7F00;
}