/*Formats styled tables*/
/* Currently being used for the individual and roaster results table */

/* Styles basic table properties*/
table {
    text-align: center;
    display: inline-block;
    border: 1px solid #999;
    margin: 10px 2% 10px 2%;
    border-collapse: collapse;
    white-space: nowrap;
}

/* Styles table name in top left cell*/
tr:first-child td:first-child {
    font-size: 1.25em;
    font-weight: 800;
}

/* Styles top row*/
table tr:nth-child(1){
    background-color: #477186;
    color: white;
    border: 1px solid #888;
    white-space: normal;
}

/* Styles first column*/
tr td:first-child {
    font-weight: bolder;
}

/* Styles alternating row colors*/
table tr:nth-child(even){
    background-color: #dddddd;
    border: 1px solid #999;
}
