/*Formats styled tables*/
/* Currently being used for the individual and roaster results table */

/* Styles basic table properties*/
.tabularResults table {
    text-align: center;
    border: 1px solid #999;
    margin: 2% auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
}

/* Styles all data cells*/
.tabularResults tr td {
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    padding: 2px;
}

/* Styles all data cells*/
/*.tabularResults tr td:hover {*/
    /*text-overflow: clip;*/
    /*white-space: normal;*/
/*}*/

/* Styles table name in top left cell*/
.tabularResults tr:first-child td:first-child {
    font-size: 1.25em;
    font-weight: 800;
    white-space: normal;
}

/* Styles top row*/
.tabularResults tr:nth-child(1) td{
    white-space: normal;
    background-color: #477186;
    color: white;
}

/* Styles first column*/
.tabularResults tr td:first-child {
    width: 15%;
    white-space: normal;
    font-weight: bolder;
}

/* Styles alternating row colors*/
.tabularResults table tr:nth-child(even){
    background-color: #dddddd;
    border: 1px solid #999;
}
