/* iPhone styling 1px to 450px */
@media screen and (max-width: 450px) {

/**************************************************
ABOUT
**************************************************/

    /* Adjust Navigation Menu */
    .nav li {
        display: block;
        text-align: left;
    }

    /* Adjust Photo Placement */
    .cupping_photo {
        display: block;
        margin: 10px auto;
        width: 80%;
    }

    /* Wrap paragraph below photo */
    .how p {
        clear: both;
    }

    /* Adjust placement of flavour list */
    .coffee-types ul {
        padding: 0;
        margin: 5px auto;
    }

    /* Resize footer for smaller browser window */
    footer {
        font-size: 0.75em;
    }

    .socialMedia {
        height: 25px;
        width: 25px;
    }

/**************************************************
RESULTS
**************************************************/

    /* Adjust size of results table to be viewed on mobile phone */
    .roaster-winner {
        font-size: 50%;
    }

    .roaster-winner div {
        width:300px;
    }

    /* Move stars back in line with table */
    #star-right {
        width:20px;
        postion: absolute;
        right: -5px;
    }

    #star-left {
        width:20px;
        postion: absolute;
        left: -5px;
    }

    /* Resize buttons to fit on screen */
    button {
        font-size: 60%;
        width: 100px;
    }

}

/* Tablet styling 450px to 800px */
@media screen and (min-width: 450px) and (max-width: 600px) {

    /**************************************************
    ABOUT
    **************************************************/
    /* Move title above Photo */
    .how h2 {
        display: inline;
    }

    /* Adjust Photo Placement */
    .cupping_photo {
        display: block;
        margin: 10px 20px 50px 0;
        width: 40%;

    }

    .how h3 {
        clear: both;
    }

/**************************************************
RESULTS
**************************************************/

    /* Adjust size of results table to be viewed on mobile phone */
    .roaster-winner {
        font-size: 75%;
    }

    .roaster-winner div {
        width:400px;
    }

    /* Move stars back in line with table */
    #star-right {
        width:30px;
        postion: absolute;
        right: -15px;
    }

    #star-left {
        width:30px;
        postion: absolute;
        left: -15px;
    }

    /* Resize buttons to fit on screen */
    button {
        font-size: 70%;
        width: 120px;
    }

}

@media screen and (min-width: 600px) and (max-width: 800px) {

    /**************************************************
    ABOUT
    **************************************************/
    /* Move title above Photo */
    .how h2 {
        display: inline;
    }

    /* Adjust Photo Placement */
    .cupping_photo {
        display: block;
        margin: 10px 20px 50px 0;
        width: 40%;

    }

}
