/**************************************************************************************
ABOUT
***************************************************************************************/

/*************************************************
HEADING
*************************************************/
html {
    height:100%;
    width: 100%;
}

body {
    font-family: "Lato", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0 0 50px 0;
    min-height: calc(100% - 50px);
    position: relative;
}

header {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #477186;
    color: white;
}

header h4 {
    margin: 0;
    padding: 5px 0 0 0;
    font-size: 1em;
    font-style: italic;
}

header h1 {
    margin: 0;
    padding:5px 0 0 0;
    font-size: 2.5em;
}

/** NAVIGATION **/
.nav ul{
    list-style: none;
    padding: 10px 0;
    background-color: #113C51;
    border-bottom: 3px solid #032536;
}

.nav li {
    display: inline-block;
    padding: 0 20px;
    font-weight: bold;
    color: white;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a.selected {
    color: #FF7F00;
}

/*************************************************
FOOTER
*************************************************/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    background-color: #cccccc;

}

footer p {
    display: inline-block;
    margin-left: 10px;
}
.socialMedia {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 3px;
    float: right;
}

/*************************************************
SECTION: WHAT
*************************************************/

.what {
    text-align: left;
    margin: 0 5%;
}

/*************************************************
SECTION: HOW
*************************************************/

.how {
    text-align: left;
    margin: 0 5%;
}

.how h2 {
    padding: 10px 0;
    display: inline-block;
    margin: 0;
}

.how h3 {
   text-decoration: underline;
}

.scoreLinks {
    font-weight: bold;
    color: black;
}

.coffee-types {
    list-style: none;
    padding: 3px 0;
}

.coffee-types li {
    padding: 0 20px;
}

.flavors{
    list-style: none;
    display: list-item;
    margin-left: 40%;
}

/** Photos **/
.cupping_photo {
    margin: 2% 5% 5% 5%;
    display: inline-block;
    float: left;
    width: 25%;
    height:25%;
    border-radius: 5px;
}

/**************************************************************************************
RESULTS
***************************************************************************************/
.results {
    text-align: center;
}

/** Roaster Winner **/

.roaster-winner h2 {
    margin: 20px 0 10px 0;
}

/** Buttons **/
button {
    height: 30px;
    width: 150px;
    display: inline-block;
    margin: 25px auto 10px;
    background-color: #ffb16e;
    border: solid 1px #FF7F00;
}

button:focus{
    outline: none;
}

/** Individual Results **/

.individual-results h2 {
    margin: 5px 0 15px 0;
}

/** Roaster Results **/

.roaster-results h2 {
    margin: 5px 0 15px 0;
}

/** Toggle between results using class **/

.inactive {
    display: none;
}
.active {
    display: inline-block;
}

/**************************************************************************************
MAP
***************************************************************************************/

.map p{
    margin-top: 10px;
    font-size: 0.75em;
}

.map .roasterName {
    font-size: 1em;
    font-weight: 900;
}

#locationsMap {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 15px;
    margin-bottom: 50px;
}
